  /* width */
  ::-webkit-scrollbar {
    width: 10px;
}

.hidden::-webkit-scrollbar {
    width: 0;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #030a3ce6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6d05bde6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7d0cd3e6;
}

.extension {
    text-shadow: 1px 1px 2px rgb(0 0 0 / 25%);
    width: 300px;
    height: 80%;
    max-width: 100%;
    margin: 0;
    margin-left: 40px;
    margin-top: 40px;
    color: white;
    background: rgba(0, 3, 25, 0.65);
    background: linear-gradient(180deg, rgb(0 64 130 / 10%) 0%, rgb(94 46 0 / 25%) 100%);

    overflow-wrap: break-word;
    /* white-space: pre-wrap; */
    transform: perspective(400px) rotateY(5deg);
    box-shadow:
        rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
        rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    display: flex;
    flex-flow: column;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.extension.dark-theme {
    color: white;
    background: rgba(0, 3, 25, 0.65);
    background: linear-gradient(180deg, rgb(0 24 49 / 90%) 0%, rgb(24 12 0/ 90%) 100%);
}

.extension img {
    padding: 0;
    height: 100%;
    margin: 0;
    line-height: 55px;
    margin-left: 55px;
    margin-top: 20px;

    -webkit-filter: drop-shadow(3px 4px 25px rgba(0, 0, 0, 0.25));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=4, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=4, Color='#444')";
}

body {
    margin: 0;
    padding: 0;
}

div#app {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.top-bar {
    height: 80px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}

.btn {
    position: relative;
    text-align: center;
    outline: 1px solid white;
    cursor: pointer;
    border-radius: 8px;
    user-select: none;
}

.btn:hover {
    outline-width: 2px;
}

.btn.btn-character-select {
    padding: 5px;
    margin-top: 5px;
}

.btn.btn-create-account{
    padding: 5px;
    margin-top: 25px;
}

.btn.btn-character-select:hover {
    right: 0;
}

/* .btn-close-panel {
    width: 42px;
    height: 100%;
    line-height: 9px;
    border: 0;
    outline: none;
    border-radius: 0;
} */

.btn-close-panel {
    width: 42px;
    height: 100%;
    line-height: 40px;
    border: 0;
    outline: none;
    border-radius: 0;
}

.views {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 25px;

    overflow-x: hidden;
    overflow-y: auto;
}

.view {
    display: none;
}

.view h2 {
    margin: 0;
    padding: 0;
    font-size: 14pt;
    text-align: center;
    margin-top: 40px;
}

.view.active {
    display: flex;
    flex-flow: column;
}

.extension-toggle {
    position: absolute;
    /* border: 2px solid #e4e4e4; */
    cursor: pointer;
    border-radius: 34px;
    width: 49px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.extension-toggle h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 14pt;
}

.extension-toggle img {
    padding: 0;
    margin: 0;
    top: -1px;
    left: -1px;
    height: 42px;
    position: relative;
}

/*.extension-toggle:hover {
    border: 2px solid #555555;
    background-color: rgba(22, 0, 39, 0.9);
} */



.hidden {
    display: none;
}

.character-list {
    display: flex;
    flex-flow: column;
    margin-top: 25px;
}
.view-message {
    text-align: center;
}
.btn.btn-toggle-dark-mode {
    position: absolute;
    border-radius: 0;
    text-align: left;
    padding: 0;
    margin: 0;
    border: 0;
    outline:none;
    width: 12px;
    height: 22px;
    top: initial;
    right: initial;
    bottom: 5px;
    left: 7px;

    color: rgba(255, 255, 255, 0.75);
}

.btn.btn-toggle-dark-mode:hover {
    top: initial;
    right: initial;
    bottom: 5px;
    left: 7px;

    color: rgba(255, 255, 255, 0.95);
}

img.no-connection {
    margin-left: 40px;
    width: 170px;
    margin-top: 50px;
}

.extension.dark-theme img.no-connection {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.view[data-name='BAD_SERVER_CONNECTION'] h2 {
    margin-top: 10px;
}


/*
    Character Skills
*/
.character-stat {
    display: flex;
    flex-flow: column;
    width: 90px;
    margin-bottom: 5px;
    border: 1px solid #ffffff08;
    background-color: transparent;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    margin-right: 10px;
    user-select: none;
    cursor: default;
    box-shadow: 0 3px 3px #0016311a;
}

.character-stat.btn-all {
    padding-bottom: 7px;
    padding-top: 6px;
}
.character-stat.btn-all .stats-progress {
    display:none;
}

.character-stat.can-train {
    background-color: #ffffff08;
    box-shadow: 0 3px 3px #00163126;
}
.character-stat.can-train:hover {
    background-color: #ffffff2e;
    box-shadow: 0 3px 3px #001631c4;
    cursor: pointer;
}

.character-stats {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: 290px;
}

.stats-identifier {
    display: flex;
    flex-flow: row;
    padding-right: 6px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.character-stat{
    cursor:pointer;
}
.character-stat.active,
.character-stat.active:hover,
.character-stat.active:active{
    background-color: rgb(0, 81, 255);
}

.character-stat .stats-level {
    flex-grow: 1;
    text-align: right;
    font-size: 9pt;
}

.character-stat .stats-name {
    text-transform: capitalize;
    font-size: 8pt;
    font-weight: 300;
}

.stats-progress {
    position: relative;
    display: flex;
    height: 3px;
}

.stats-progress-background {
    position: relative;
    background-color: #00000085;
    width: 100%;
}

.stats-progress-value {
    position: absolute;
    background-color: white;
    /* width: 95%; */
    height: 100%;
}


.view-tabs {
    display: flex;
    flex-flow: row;    
    gap: .33em;
    margin-top: 10px;
}

.view-tabs .btn {
    font-size: 7pt;
    flex-grow: 1;    
    padding: 5px 10px;    
    outline-color: rgba(255,255,255,0.25);
}

.view-tabs .btn.active {
    box-shadow: 0 3px 3px #00163126;
    background-color:rgb(0, 81, 255);
    color: white;
    border: 0;
    outline: 0;
}

.sub-view {
    min-height: 330px;
}

.view h2.view-header {
    margin-top: 0px;
    margin-bottom: 15px;
}

.hidden {
    display:none;
}